<h1><span style="font-size:20px"><strong><span style="font-family:Comic Sans MS,cursive">Welcome to Vimification</span></strong></span></h1>

<h2><span style="font-size:18px"><span style="color:#3498db"><strong><span style="font-family:Comic Sans MS,cursive">Navigating around</span></strong></span></span></h2>

<p><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive">Use &quot;<code>h</code>&quot;,&quot;<code>j</code>&quot;,&quot;<code>k</code>&quot;,&quot;<code>l</code>&quot; to navigate the menu.</span></span></p>

<h2><span style="font-size:18px"><strong><span style="color:#3498db"><span style="font-family:Comic Sans MS,cursive">Executing Commands</span></span></strong></span></h2>

<p><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive">Press the &quot;<code>:</code>&quot; key on your keyboard.</span></span></p>

<h2><span style="font-size:18px"><span style="color:#3498db"><strong><span style="font-family:Comic Sans MS,cursive">Need help?</span></strong></span></span></h2>

<p><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive">Key in &quot;<code>:help</code>&quot;.</span></span></p>

<h2><span style="font-size:18px"><span style="color:#3498db"><strong><span style="font-family:Comic Sans MS,cursive">How to quit?</span></strong></span></span></h2>

<p><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive">Key in &quot;<code>:q</code>&quot;.</span></span></p>